{% extends 'base.html' %}


{% block content %}

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Our Services</p>
                <h3 class="fw-bold"><strong>What can we do for you</strong></h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5">
                <img class="rounded img-fluid shadow" src="{{url_for('static', filename='img/products/Simple Processing legal texts.jpg')}}">
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold"><strong>RAG System&nbsp;</strong></h5>
                    <p class="text-muted mb-4">Ask questions to our RAG system about Senegalese law and get satisfactory answers.</p>
                    <a class="btn btn-primary shadow" type="button" href="{{url_for('rag_system')}}">Try Now</a>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col order-md-last mb-5">
                <img class="rounded img-fluid shadow" src="{{url_for('static', filename='img/products/simple processing of text.jpg')}}">
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold"><strong>Multi-Agent System</strong></h5>
                    <p class="text-muted mb-4">Use our multi-agent system that provides more advanced answers along with references.</p>
                    <a class="btn btn-primary shadow" type="button" href="{{url_for('agent_system')}}">Try Now</a>
                </div>
            </div>
        </div>     
    </div>
</section>


{% endblock content %}