{% extends 'base.html' %}


{% block content %}

    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Équipe de Sen Legal Assistant</p>
                    <h2 class="fw-bold">Les talentueux serviteurs</h2>
                    <p class="text-muted">Notre équipe est composée d'experts prêts à gravir des montagnes pour vous fournir le meilleur de la technologie.&nbsp;</p>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-3 mx-auto" style="max-width: 700px;">
                <div class="col-md-5 offset-md-1 mb-4">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="assets/img/team/avatar2.jpg">
                        <h5 class="fw-bold mb-0">Oumar&nbsp;Kane</h5>
                        <p class="text-muted mb-2">Etudiant en Thèse en Intelligence Artificielle</p>
                    </div>
                </div>
                <div class="col-md-5 mb-4">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="assets/img/team/avatar4.jpg">
                        <h5 class="fw-bold mb-0">Mamadou Bousso</h5>
                        <p class="text-muted mb-2">Enseignant Chercheur</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}